In [1]:
import pandas as pd
import geopandas as gp
import matplotlib.pyplot as plt
from descartes import PolygonPatch
from matplotlib.patches import Polygon
from matplotlib.collections import PatchCollection
import matplotlib.patheffects as PathEffects
from shapely.geometry.multipolygon import MultiPolygon
from shapely.geometry.multilinestring import MultiLineString
from matplotlib.collections import LineCollection
import numpy as np
import biv_colormap as bc
import plotly.graph_objs as go
from matplotlib import colors

In [6]:
#Load gini index and average income data
pph_raw = pd.read_csv('pay_per_hour/average_pph_male_female.csv')
#income_raw = pd.read_csv('av_income_italy_2017.csv')
#Load shapefile from file
df = gp.read_file("shapefiles/Com01012019_g_WGS84.shp")

In [10]:
average_pph = pph_raw[pph_raw['TIPO_DATO7'] == "HOUWAG_ENTEMP_AV_MI"]

In [26]:
code_comune = df[['COD_PROV','COMUNE']]

In [29]:
code_comune[code_comune['COD_PROV']==103]

      COD_PROV              COMUNE
6678       103  Antrona Schieranco
6679       103     Anzola d'Ossola
6680       103              Masera
6681       103            Massiola
6682       103            Mergozzo
...        ...                 ...
7140       103            Intragna
7141       103            Loreglia
7142       103           Macugnaga
7143       103   Madonna del Sasso
7144       103             Malesco

[74 rows x 2 columns]

In [30]:
average_pph

,ITTER107,Territorio,TIPO_DATO7,Tipo dato,SEXISTAT1,Sesso,TIME,Seleziona periodo,Value,Flag Codes,Flags
26,ITC12,Vercelli,HOUWAG_ENTEMP_AV_MI,Retribuzione lorda oraria per ora retribuita d...,9,totale,2017,2017,13.93,NaN,NaN
29,ITC13,Biella,HOUWAG_ENTEMP_AV_MI,Retribuzione lorda oraria per ora retribuita d...,2,femmine,2017,2017,12.68,NaN,NaN
32,ITC14,Verbano-Cusio-Ossola,HOUWAG_ENTEMP_AV_MI,Retribuzione lorda oraria per ora retribuita d...,1,maschi,2017,2017,13.81,NaN,NaN
38,ITC15,Novara,HOUWAG_ENTEMP_AV_MI,Retribuzione lorda oraria per ora retribuita d...,9,totale,2017,2017,14.25,NaN,NaN
41,ITC16,Cuneo,HOUWAG_ENTEMP_AV_MI,Retribuzione lorda oraria per ora retribuita d...,2,femmine,2017,2017,12.65,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1592,ITG26,Nuoro,HOUWAG_ENTEMP_AV_MI,Retribuzione lorda oraria per ora retribuita d...,1,maschi,2017,2017,11.87,NaN,NaN
1594,IT,Italia,HOUWAG_ENTEMP_AV_MI,Retribuzione lorda oraria per ora retribuita d...,9,totale,2017,2017,14.04,NaN,NaN
1597,IT111,Sud Sardegna,HOUWAG_ENTEMP_AV_MI,Retribuzione lorda oraria per ora retribuita d...,1,maschi,2017,2017,12.20,NaN,NaN
1602,IT111,Sud Sardegna,HOUWAG_ENTEMP_AV_MI,Retribuzione lorda oraria per ora retribuita d...,2,femmine,2017,2017,11.35,NaN,NaN
1607,IT111,Sud Sardegna,HOUWAG_ENTEMP_AV_MI,Retribuzione lorda oraria per ora retribuita d...,9,totale,2017,2017,11.86,NaN,NaN

,COD_RIP,COD_REG,COD_PROV,COD_CM,COD_UTS,PRO_COM,PRO_COM_T,COMUNE,COMUNE_A,CC_UTS,Shape_Leng,Shape_Area,geometry
0,1,1,2,0,2,2031,002031,Caresanablot,None,0,16460.141481,1.074306e+07,"POLYGON ((452978.637 5025051.175, 453313.104 5..."
1,1,1,2,0,2,2032,002032,Carisio,None,0,21719.614286,3.015596e+07,"POLYGON ((439118.364 5033943.107, 439299.769 5..."
2,1,1,2,0,2,2033,002033,Casanova Elvo,None,0,17603.369590,1.629650e+07,"POLYGON ((443530.613 5029817.639, 445732.879 5..."
3,1,1,2,0,2,2035,002035,San Giacomo Vercellese,None,0,12302.515622,9.615663e+06,"POLYGON ((447178.304 5039510.567, 448483.263 5..."
4,1,1,2,0,2,2041,002041,Cervatto,None,0,12306.352315,9.541464e+06,"POLYGON ((432975.401 5081965.753, 433125.338 5..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7921,5,20,91,0,91,91017,091017,Dorgali,None,0,87976.281686,2.271681e+08,"POLYGON ((538041.182 4472576.879, 538875.175 4..."
7922,5,20,91,0,91,91018,091018,Dualchi,None,0,19331.685914,2.328164e+07,"POLYGON ((491151.172 4456444.507, 491246.546 4..."
7923,5,20,91,0,91,91019,091019,Elini,None,0,21839.041992,1.082669e+07,"MULTIPOLYGON (((552922.058 4418857.300, 553578..."
7924,5,20,91,0,91,91024,091024,Fonni,None,0,45122.350042,1.120267e+08,"POLYGON ((525104.280 4446559.084, 525782.275 4..."
7925,5,20,91,0,91,91025,091025,Gadoni,None,0,34574.047397,4.366693e+07,"POLYGON ((515801.352 4420502.291, 516015.351 4..."